.contenedor_lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20xp;
    padding: 20px;

    .contacto{
        background-color: var(--grey-700);
        padding: 20px;
        border-radius: 15px;
    }
}
