@import "./inicio.scss";
@import "./lista.scss";

@font-face {
    font-family: "inter";
    src: url('https://fonts.gstatic.com/s/inter/v3/UcCO3FwrbcAKjj6KJp9_Dg.woff2') format('woff2');
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-900);
    font-size: 14px;
    font-family: "inter"; 

    h1 {
        color: var(--white);
        margin: 20px 0;
        font-size: 2rem; // Ejemplo de ajuste de tamaño de fuente
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: var(--grey-700);
        padding: 10px; 

        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                li {
                    padding: 7px 12px;

                    a {
                        background-color: var(--green);
                        padding: 10px 15px;
                        color: var(--grey-800); // Color de enlace
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }   
}